# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# User Management
config/users.json.enc
config/users-key.enc
config/jwt-secret.enc

# Logs
dev.log

# Verification
jules-scratch/

.bolt

# documentation
/docs

# Capacitor
/android/
/ios/
/node_modules/.cache/
/dist_electron
*.tmp
/user-data
/backups
system.log.json

# Maintenance feature
/public/maintenance_image/
/public/maintenance_image_preview/
/logs/
/config/maintenance.json
config/maintenance.key
